<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js News</title>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="/node_modules/bulma-extensions/bulma-slider/dist/bulma-slider.min.js"></script>

</head>
<body>
    
        <%- include('./partials/head.ejs') %>

<br>

    
    <div class="wrapper">
      
    
        <br>
        <br>
        <center>
        <h1 class="title is-1" style="color: #00476b;">Customer Service Representatives</h1>
        <p class="subtitle is-4">Our Agents' are here to improve the car buying experience</p>
<br>
    </center>

        <div class="columns">
            <div class="column is-one-third">
                <br>
                <br>
                <center>
                    <h1 class="title is-3" style="color: #00476b;">Cooper</h1>
                    <h1 class="subtitle is-5">Head of Sales</h1>

                    <h1 class="subtitle is-5">10+ Years of Experience</h1>

                    
                    <h1 class="subtitle is-5">Email: <a href="mailto:Cooper@BPAAuto.com">Cooper@BPAAuto.com</a></h1>

                </center>
               
            </div>
           
            <div class="column"><br>
                <br>
                <center>
                    <h1 class="title is-3" style="color: #00476b;">Shishir</h1>
                    <h1 class="subtitle is-5">Vice President of Sales</h1>

                    <h1 class="subtitle is-5">7+ Years of Experience</h1>

                    
                    <h1 class="subtitle is-5">Email: <a href="mailto:Shishir@BPAAuto.com">Shishir@BPAAuto.com</a></h1>

                </center></div>
          </div>
     

     
              
    
      
    </div>  
    <br>
    <br>
    <br>
    <br>
    <br>
   
    <%- include('./partials/footer.ejs') %>


</body>
</html> 